modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Full Stack Development"

[[workflows.workflow]]
name = "Start Backend"
author = 45619390
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node server.js"

[[workflows.workflow]]
name = "Full Stack Development"
author = 45619390
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node server.js"
